// .bg {
//   position: fixed;
//   color: red;
//   background-color: #ffffff72;
//   width: 400px;
//   top: 0;
//   bottom: 0;
//   button {
//     height: 50px;
//     // background-color: transparent;
//     border: none;
//     width: 50px;
//     border-radius: 50%;
//     position: absolute;
//     cursor: pointer;
//     left: 25px;
//     top: 25px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

.testParallax {
  overflow: hidden;
  background: linear-gradient(180deg, rgb(42, 42, 71), rgb(1, 15, 22));
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 88px;
  }
  .mountains {
    position: absolute;
    background-position: bottom;
    height: 100%;
    width: 100%;
    background-image: url("./mountains.png");
    z-index: 3;
    background-size: cover;
  }

  .planets {
    position: absolute;
    background-position: bottom;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-size: cover;
  }
  .stars {
    background-size: covers;
    position: absolute;
    background-position: bottom;
    height: 100%;
    width: 100%;
    background-image: url("./stars.png");
    z-index: 1;
  }
}
