.bg {
  position: fixed;
  color: red;
  background-color: #ffffff72;
  width: 400px;
  top: 0;
  bottom: 0;
  button {
    height: 50px;
    // background-color: transparent;
    border: none;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
